<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookyourevent">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookYourEvent">
        <activity
            android:name=".owner.PartyCenterDetail"
            android:exported="false" />
        <activity
            android:name=".owner.AddNewPartyCenter"
            android:exported="false" />
        <activity
            android:name=".owner.OwnerHomePage"
            android:exported="false" />
        <activity
            android:name=".owner.OwnerRegister"
            android:exported="false" />
        <activity
            android:name=".owner.OwnerLogIn"
            android:exported="false" />
        <activity
            android:name=".owner.OwnerLogInActivity"
            android:exported="false" />
        <activity
            android:name=".owner.SelectModeActivity"
            android:exported="false" />
        <activity
            android:name=".client.ClientLoginActivity"
            android:exported="false" />
        <activity
            android:name=".client.DetailedPartyCenterActivity"
            android:exported="false"
            android:parentActivityName=".client.ClientMainActivity" />
        <activity
            android:name=".client.ClientHistoryActivity"
            android:exported="false"
            android:label="History"
            android:parentActivityName=".client.ClientMainActivity" />
        <activity
            android:name=".client.ClientProfileActivity"
            android:exported="false"
            android:label="Profile"
            android:parentActivityName=".client.ClientMainActivity" />
        <activity
            android:name=".client.ClientMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAnScOCXCyRHayLIl_iDQ9oqlSG1_vB9rc" />
    </application>

</manifest>